/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 100;
    top: 0%;
    left: 0;
    background-image: url("../images/Stage-Light-Design-ppt-Backgrounds.jpg");
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4vw;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 2% 2% 2% 4%;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #ccffff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button ) */
.closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 3vw !important;
    margin-left: 2%;
    margin-bottom: 3%;
}


/* Style of the Title Screen */
.titleScreen {
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    color: Black;
    text-align: center;
    font-size:10vw;
    cursor: pointer;
    width:100%;
    height:100%;
}

/* The title screen navigation method*/
.titleScreenNav {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #5edfc9;
    background-image: url("../images/Stage-Light-Design-ppt-Backgrounds.jpg");
    background-size: cover;
    overflow-x: hidden;
    overflow-y:hidden;
    transition: 0.9s;
    z-index:1000;
}

.titleScreenNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/* Interaction Button */
.interactionBtn {
    position:absolute;
    border: none;
    padding:2% 1%;
    text-align: center;
    text-decoration: none;
    left:0;
    top: 6%;
    font-size:3vw;
    cursor:pointer;
    display: inline-block;
    z-index: 10;
    background-color: transparent;
    opacity: .6;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
    animation-iteration-count: 60;
}
@-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
    to { transform: scale(1.2); }
}


/*Party Toggle Button*/
.partyToggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.partyToggle + label {
    display: inline-block;
    position: relative;
    padding:1%;
    margin:1%;
    cursor: pointer;
    outline: none;
    user-select: none;
    left:23%;
}

input.partyToggle + label {
    padding: 1%;
    width: 40%;
    height: 10%;
    background-color: #dddddd;
    border-radius: 60px;
}
input.partyToggle+ label:before,
input.partyToggle + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.partyToggle + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.partyToggle + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.partyToggle:checked + label:before {
    background-color: #5edfc9;
}
input.partyToggle:checked + label:after {
    margin-left: 60px;
}


#closeFullscreen{
    position:absolute;
    text-align: center;
    text-decoration: none;
    color:white;
    right: 0;
    top:8%;
    font-size:2.5vw;
    cursor:pointer;
    display: inline-block;
    border-width: 0;
    z-index: 50000;
    background-color: transparent;
}

/* Basic Button Formatting*/
.switchArrayBtn, .downloadBtn, .autoplayKaleidoBtn, .switchBtn, .ZoomInBtn, .ZoomOutBtn, .MultiUpload + label{
    position:absolute;
    padding:0.5% 1%;
    text-align: center;
    text-decoration: none;
    background-image: url("../images/mainBackground.jpg");
    background-color: black;
    margin: 1% 0.5%;
    right: 15%;
    font-size:3vw;
    cursor:pointer;
    display: inline-block;
    border-width: 0;
    z-index: 5000;
    /*background-color: transparent;*/
    opacity: .6;
    box-shadow: 0 2px #7c7c7c;
    border-radius: 40%;
    transition: 0.5s;
}

/*Basic Button Hover*/
.switchArrayBtn:hover, .downloadBtn:hover, .autoplayKaleidoBtn:hover, .switchBtn:hover, .ZoomInBtn:hover, .ZoomOutBtn:hover, .MultiUpload+label:hover, .interactionBtn:hover, #closeFullscreen:hover {
color: #5edfc9;

}

/* Hide default Upload Button*/
.MultiUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*Zoom In Button */
.ZoomInBtn {
    bottom:68%;
}

.ZoomInBtn .text, .ZoomOutBtn .text, .switchBtn .text, .switchArrayBtn .text, .MultiUpload+label .text {
    position:absolute;
    right:-200%;
    top:40%;
    font-size: 1.5vw;
    font-weight: 100;
    visibility:hidden;
    text-decoration: none;

}
.ZoomInBtn:hover .text, .ZoomOutBtn:hover .text, .switchBtn:hover .text, .switchArrayBtn:hover .text, .MultiUpload+label:hover .text{
    visibility:visible;
}

/*Zoom Out Button */
.ZoomOutBtn {
    bottom:56%;
}

/*Shuffle Button */
.switchBtn {
    bottom:44%;
}

/*Upload Button*/
.MultiUpload + label {
    Bottom:32%;
}

/* Switch Array Button */
.switchArrayBtn {
    bottom:20%;
}


/*Download Button */
.downloadBtn {
    bottom:8%;
}


/*Auto-Play Kaleido Button */
.autoplayKaleidoBtn {
    right:22%;
    bottom:8%;
}
