/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3a7791; /* Navy*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

/* Style of the Title Screen */
.titleScreen {
    position: absolute;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}


/* The title screen navigation method*/
.titleScreenNav {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #3a7791;
    background-image: url("../images/Bluebackground.jpg");
    overflow-x: hidden;
    overflow-y:hidden;
    transition: 0.9s;
}



/* Interaction Button */
#interactionBtn {
    position:absolute;
    padding:32px 16px;
    border-color: #3a7791;
    text-align: center;
    text-decoration: none;
    left:0;
    top:50%;
    font-size:30px;
    cursor:pointer;
    display: inline-block;
    background-color: transparent;
    -webkit-animation: bounce .3s infinite alternate;
    -moz-animation: bounce .3s infinite alternate;
    animation: bounce .3s infinite alternate;
}
@-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
    to { transform: scale(1.2); }
}




/*Download Button */
.downloadBtn {
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0;
    bottom:5%;
    font-size:3vw;
    cursor:pointer;
    display: inline-block;
    border-width: 0;
    background-color: transparent;
}

/*Upload Button*/
.imageUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.imageUpload + label {
    font-size: 3vw;
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0;
    cursor:pointer;
    Bottom:30%;
    font-weight: 700;
    background-color: transparent;
    display: inline-block;
}

.imageUpload + label {
    cursor: pointer; /* "hand" cursor */
}


/*Auto-Play Kaleido Button */
.autoplayKaleidoBtn {
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:7%;
    bottom:5%;
    font-size:3vw;
    cursor:pointer;
    display: inline-block;
    border-width: 0;
    background-color: transparent;
    border-color: #3a7791;
    border-radius: 100%;
}


/*Zoom In Button */
.ZoomInBtn {
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    background-color: transparent;
    right:0;
    bottom:60%;
    font-size:3vw;
    border-width: 0;;
    border-radius: 100%;
    cursor:pointer;
    display: inline-block;
}

/*Zoom Out Button */
.ZoomOutBtn {
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0;
    border-width: 0;
    background-color: transparent;
    bottom:50%;
    font-size:3vw;
    border-radius: 100%;
    cursor:pointer;
    display: inline-block;
}

/*Shuffle Button */
.switchBtn {
    position:absolute;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0;
    border-width: 0;
    background-color: transparent;
    bottom:40%;
    font-size:3vw;
    border-radius: 100%;
    cursor:pointer;
    display: inline-block;
}
/* Test button for Image Transition */
.transitionTest {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0;
    bottom:70%;
    font-size:15px;
    cursor:pointer;
    display: inline-block;
    background-color: transparent;
}