/* The side navigation menu */
.sidenav {
    height: 60%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 10%;
    left: 0;
    background-color: #3a7791; /* Navy*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica;
    color: #000000;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* Interaction Button */
.interactionBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    left:5%;
    top:50%;
    font-size:30px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}

/* Effects Button*/
.effectsBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    left:5%;
    top:50%;
    font-size:30px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}


/*Theme Button*/
.themeBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    left:2%;
    Bottom:10%;
    font-size:30px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}

/*Download Button */
.downloadBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0%;
    bottom:10%;
    font-size:15px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}

/*Music Control Button */
.quickMusicControlBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0%;
    bottom:20%;
    font-size:15px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}


/*Auto-Play Kaleido Button */
.autoplayKaleidoBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0%;
    bottom:30%;
    font-size:15px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}


/*Quick Zoom In Button */
.quickZoomInBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0%;
    bottom:40%;
    font-size:15px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}

/*Quick Zoom Out Button */
.quickZoomOutBtn {
    position:absolute;
    border: 2px solid #000000;
    padding:16px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    right:0%;
    bottom:50%;
    font-size:15px;
    font-family:"Helvetica Neue", Helvetica;
    cursor:pointer;
    display: inline-block;
}

/* Test and need to be removed later */
#testEvent{
    width: 50px;
    height: 50px;
    background-color: forestgreen;
    position: absolute;
    right:0;
}