body {margin:0;}

.header {
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #3a7791;
    height:60px;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
    font-size: 50px;
    color: #fffcff;
    margin-bottom:30px;
}

.kaleidoscope {
    position:absolute;
    top: 10%;
    left: 15%;
    border-color: black;
    border-width: thick;

}

