body {margin:0;
background-size: cover;
background-image: url("../images/grey-website-background-illusionapparel2.jpg");
}

.header {
    position: absolute;
    margin:0;
    width: 100%;
    padding:0;
    overflow: visible;
    background-color: #3a7791;
    background-image: url("../images/Bluebackground.jpg");
    height:10%;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: bold;
    font-size: 350%;
    color: #fffcff;
    margin-bottom:30px;
    text-align: right;
    display: block;
}

.kaleidoscope {
    position:absolute;
    top: 10%;
    left: 18%;
    display: block;

}

.spotify {
    position: absolute;
    bottom:0;
    left:2%;
}

.navigation {
    list-style: none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}