p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 26px;
    color: #228b22;
}

canvas {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #3931ee;
}
div {
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #BCD2EE;
    height: 50px;
    width: 120px;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
    color: #3D59AB;
    font-family: Verdana, sans-serif;
}