/* The side navigation menu */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-image: url("../images/Stage-Light-Design-ppt-Backgrounds.jpg");
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 4vw;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidebar a {
    padding: 2% 2% 2% 4%;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #ccffff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/* Position and style the close button in sidebar */
.closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 3vw !important;
    margin-left: 2%;
    margin-bottom: 3%;
}

/* -------------------------------------------------------------------------------------------------------*/
/*Party Toggle Button*/
.partyToggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.partyToggle + label {
    display: inline-block;
    position: relative;
    padding:1%;
    margin:1%;
    cursor: pointer;
    outline: none;
    user-select: none;
    left:23%;
}

input.partyToggle + label {
    padding: 1%;
    width: 40%;
    height: 10%;
    background-color: #dddddd;
    border-radius: 60px;
}
input.partyToggle+ label:before,
input.partyToggle + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.partyToggle + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.partyToggle + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.partyToggle:checked + label:before {
    background-color: #5edfc9;
}
input.partyToggle:checked + label:after {
    margin-left: 60px;
}

/*Close Button in Full Screen*/
#closeFullscreen{
    position:absolute;
    text-align: center;
    text-decoration: none;
    right: 0;
    top:2%;
    font-size:2.5vw;
    cursor:pointer;
    display: inline-block;
    border-width: 0;
    border-radius: 40%;
    z-index: 50000;
    opacity: 0.6;
    color: #464646;
}